# =========================
# Python / Ambiente
# =========================
venv/
.venv/
__pycache__/
*.pyc

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*

# =========================
# Credenciais / Segredos
# =========================
secrets/
credentials.json
*credentials*.json
*service-account*.json
*gcp*.json
*sa*.json
*.pem
*.key
*.p12
auralab@auralab

# =========================
# macOS
# =========================
.DS_Store